.header{
    background-color: #ffcb05;
    color: #3b4cca;
    padding: 20px;
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}   

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}